@import './mixin.scss';
@import './config.scss';
.modal{
  z-index: 10;
  transition: all .5s;
  @include position(fixed);
  .mask{
    @include position(fixed);
    background-color: $colorI;
    opacity: 0.5;
  }
  &.slide-enter-active{
    top: -110%;
  }
  &.slide-leave-active{
    top: 0;
  } 

  &.slide-leave-to{
    top: -110%;
  }
  &.slide-enter{
    top: -110%;
  }
  .modal-dialog{
    @include position(absolute,40%,50%,660px,auto);
    background-color: $colorG;
    transform: translate(-50%,0);
    .modal-header{
      height: 60px;
      background-color: $colorJ;
      padding: 0 25px 0;
      line-height: 60px;
      font-size: $fontI;
      .icon-close{
        @include postionImg(absolute,23px,25px,14px,14px,'/public/imgs/icon-close.png');
        transition: transform .3s;
        &:hover{
          transform: scale(1.5);
        }
      }
    }
    .modal-body{
      padding: 42px 40px 54px;
      font-size: fontJ;
    }
    .modal-footer{
      height: 82px;
      line-height: 82px;
      text-align: center;
      background-color: $colorJ;
    }
  }
}